<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <div>
      <label for="initialInvestment">INITIAL INVESTMENT</label>
      <input
        type="number"
        id="initialInvestment"
        name="initialInvestment"
        [(ngModel)]="initialInvestment"
        required
      />
    </div>

    <div>
      <label for="annualInvestment">ANNUAL INVESTMENT</label>
      <input
        type="number"
        id="annualInvestment"
        name="annualInvestment"
        [(ngModel)]="annualInvestment"
        required
      />
    </div>
  </div>

  <div class="input-group">
    <div>
      <label for="expectedReturn">EXPECTED RETURN</label>
      <input
        type="number"
        id="expectedReturn"
        name="expectedReturn"
        [(ngModel)]="expectedReturn"
        required
      />
    </div>

    <div>
      <label for="duration">DURATION</label>
      <input
        type="number"
        id="duration"
        name="duration"
        [(ngModel)]="duration"
        required
      />
    </div>
  </div>

  <p>
    <button type="submit">CALCULATE</button>
  </p>
</form>
